.header-root {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #c7d9fa;
        color: rgb(41, 40, 40);
        box-sizing: border-box;
        width: 100%;
        padding: 5px;
        height: 10vh;
  }

.header-root p {
    font-weight: 400;
    font-size: 2vw;
}
.header-root h1 {
    font-weight: 600;
    font-size: 3vh;
}