.hospitalList {
  width: 100%;
  justify-content: center;
  padding: 1em;
}

.hospitalListItem {
  align-items: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 1rem;
}

.hospitalInfo {
  text-align: left;
  width: 70%;
}

.hospitalInfo h2 {
  margin-top: 0px;
}

.hospitalBedIcon {
  width: 3em;
}

.hospitalBeds {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  justify-content: center;
}


.hospitalBeds p {
  margin: 0px;
}


.hospitalDistanceIcon {
  width: 3em;
}

.hospitalDistance {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  justify-content: center;
}

.hospitalDistance p {
  margin: 0px;
}