.location-widget-root {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    max-width: 400px;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 0px 0.8em;
}

.location-widget-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
    min-width: 160px;
    text-align: start;
}

.location-widget-icon {
    font-size: 1lh;
    margin-right: 0.8em;
}