.homepage-root {

  }

  .homepage-text {
    color: black;
    width: 100%;
  }

  .homepage-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    flex-wrap: wrap;
    gap: 0.8em 0.8em;
  }

  .App-link {
    color: #61dafb;
  }
