.homepage-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .homepage-text {
    color: black;
    width: 100%;
  }

  .homepage-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eceef2;
    font-size: calc(10px + 5vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }
